//
@import "partials/_reset";

main{
    background-color: rgb(190, 190, 190);
    color: #000;
    height: 100vh;

    nav{
        margin-top: 5rem;
        text-align: center;
        ul li{
            display: inline;
            margin-right: 1rem;
            text-decoration: none;
            a{
                color: #000;
                text-decoration: none;
            }
        }
    }
}

