//
@import "partials/_reset";

main{
    background-color: rgb(190, 190, 190);
    color: #000;
    height: 100vh;
    padding: 2rem;

    .prev{
        padding: 1rem 0;
        a{
            color: #000;
            text-decoration: none;

            &:hover{
                color: #fff;
            }
        }
    }

    h1{
        margin: 2rem 0;
    }

    ol{
        margin: 3rem;
    }
    ol li{
        text-decoration: none;
        a{
            color: #000;
            text-decoration: none;
        }
    }
    
}

